

@media screen and (min-width: 520px) {
    .landing__header__title__id{
        color: $font-color;
        font-size: 2em;
    }
    }
    
@media screen and (min-width: 800px) {
.landing__header__title__id{
    color: $font-color;
    font-size: 3em;
}
}
