@import "../../assets/styles/variables";
@import "../../assets/styles/typography";

.about {
  height: 100vh;
  &__header {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    font-size: 3.3rem;
    text-align: center;
    color: $accent-color;
  }
  &__bio__text {
    text-align: left;
    line-height: 2.2rem;
  }
  &__bio__text:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) {
  .about {
    overflow-y: auto;
    position: relative;
    right: 0.5em;
    top:1.6rem;
    &__header {
      position: relative;
      top: 0em;
      right: 0.2em;
      font-size: 3.5rem;
      text-align: center;
    }
    &__bio {
      padding: 3rem 2rem;
      &__text {
        font-size: 1.27rem;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 520px) {
  .about {
    position: relative;
    top:1.6rem;
    &__header {
      font-size: 4.3rem;
      text-align: center;
      position: relative;
      bottom: 0.2em;
    }
    &__bio {
      padding: 3.5rem 3rem;
      position: relative;
      bottom: 2em;

      &__text {
        position: relative;
        top: 1em;
        padding-left: 5%;
        font-size: 1.7rem;
        padding-right: 15%;
        text-align: left;
      }
    }
  }
}
