@import '../../assets/styles/variables';
@import '../../assets/styles/typography';

.about {
  &__header {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    font-size: 3.3rem;
    text-align: center;
    color: $accent-color;
  }
  &__bio__text {
    text-align: left;
    line-height: 2.2rem;
  }
  &__bio__text:not(:last-of-type) {
    margin-bottom: 40px;
  }
} 

@media screen and (min-width: 320px) {
  .about {
    padding-top: 7rem;
    position: relative;
    right: 0.5em;
    &__header {
      font-size: 2.7rem;
      text-align: left;
    }
    &__bio {
      padding: 3rem;
      &__text {
        padding-left: 15%;
        font-size: 1.3rem;
        padding-right: 5%;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 520px) {
  
  .about {
    padding-top: 5.5rem;
    &__header {
      font-size: 4.3rem;
      text-align: left;
    }
    &__bio {
      padding:  3.5rem 3rem;

      &__text {
        padding-left: 5%;
        font-size: 1.7rem;
        padding-right: 15%;
        text-align: left;
      }
    }
  }
}


