@import "../../assets/styles/variables";

.button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  position: relative;
  font-size: 0.7em;
}

.secondary {
  background-color: $accent-color;
}
.primary{

  background-color: $accent-color;
}

@media screen and (min-width: 320px) {
  .secondary {
    position: relative;
    top: 3em;
    font-size: 0.5em;
  }
  .primary{
    position: fixed;
    top: 23em;
    left: 34.5%;
    width: 30%;
    font-size: 1.3em;
    font-weight: bold;
  }
}

@media screen and (min-width: 520px) {
  .secondary {
    position: relative;
    bottom: 10em;
    font-size: 0.5em;
  }
  .primary{
    position: fixed;
    top: 32%;
    left: 40%;
    width: 20%;
    font-size: 2em;
  }
}
