@import "../../assets/styles/variables";

.button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  position: relative;
  font-size: 0.7em;
}

.secondary {
  background-color: $accent-color;
}
.primary {
  background-color: $accent-color;
}

@media screen and (min-width: 320px) {
  .secondary {
    position: relative;
    top: 3em;
    font-size: 0.5em;
  }
  .primary {
    position: relative;
    bottom: 22.8rem;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.3rem;
  }
}

@media screen and (min-width: 520px) {
  .secondary {
    position: relative;
    bottom: 10em;
    font-size: 0.5em;
  }
  .primary {
    position: relative;
    top: 30rem;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    font-size: 2em;
    font-weight: bold;
  }
}
@media screen and (min-width: 800px) {
  .secondary {
  }
  .primary {
    position: relative;
    top: 32.5rem;
    font-size: 1.5em;
  }
}
