@import '../../assets/styles/variables';
@import '../../assets/styles/typography';

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  &__header {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    text-align: center;
  }

}


@media screen and (min-width: 320px) {
  .projects {
    padding-top: 7rem;
    position: relative;
    right: 0.5em;
    &__header {
      position: relative;
      bottom: 0.5em;
      font-size: 3.5rem;
      text-align: center;
  }
}
}

@media screen and (min-width: 520px) {
  
  .projects {
    padding-top: 7rem;
    &__header {
      font-size: 4.3rem;
      text-align: center;
    }

  }
}

@media screen and (min-width: 800px) {
  .projects {
    padding-bottom: 0px;
    &__header {
      font-size: 7rem;
      position: relative;
      bottom: 2rem;
      }
    }
  }


