@import '../../assets/styles/variables';
@import '../../assets/styles/_typography';

.skills {
  &__header {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    text-align: center;
  }
  &__container {
    position: relative;
    top: 2em;
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      margin-bottom: 0px;
      &__icon {
        font-size: 3.5rem;
        color: $accent-color;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .skills {
    position: relative;
      top: 1.2em;
      padding-top: 0.7em;
    &__header {
      position: relative;
      top: 0.4em;
      right: 0.2em;
      font-size: 3.5rem;
      text-align: center;
  }
    &__container {
      .skills__container__item {
        &__icon {
          font-size: 5.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 520px) {
  
  .skills {
    position: relative;
    left: 0.6em;
    top: 0.8em;
    &__header {
      position: relative;
      top: 0.4em;
      font-size: 4.3rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 800px) {
  .skills {
    &__header {
      font-size: 4.5rem;
      }
    }
  }
