@import '../../assets/styles/variables';
@import '../../assets/styles/typography';


@media screen and (min-width: 720px) {
  .sidebar {
    position: absolute;
    z-index: 100;
    &__menu{
    width: 50px;
    height: 100vh;
    display: flex;
    background: $sidebar-background;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    position: fixed;
    padding: 10px;
      &__icon {
        color: $body-color;
        text-decoration: none;
      }
      #home{
        position: relative;
        bottom: 268px;
        font-size: 1em;
      }
  }
}
}

