@import '../../assets/styles/variables';
@import '../../assets/styles/typography';

.navbar {
  z-index: 1;
  &__menu {
    position: fixed;
    display: flex;
    &__list{
      text-decoration: none;
    }
    &__item {
      text-decoration: none;
    }
  }
}
@media screen and (min-width: 320px) {
  .navbar {
    z-index: 1;
    &__menu {
      height: 40px;
      width: 100vw;
      flex-direction: row;
      justify-content: center;
      background-color: $nav-background;
      &__list{
        display: flex;
        align-items: center;
        padding: 0 5%;
        position: relative;
        left: 1px;
      }
      &__list:hover{
        background-color: $nav-hover-background;
        transition: 0.35s;
      }
      &__icon{
        font-size: 1.8em;
      }
      &__item {
        padding-left: 8px;
        display: none;
    }
    #home{
      color: $sidebar-background;
      font-size: 1em;
    }
    #sass{
      color: #C26191;
    }
    #react{
      color: #00CDF2;
      font-size: 2em;
    }
    #markdown{
      color: #4d3016;
    }
    #json{
      color: #CD0001;
    }
  }
  }

  @media screen and (min-width: 520px){
    .navbar{
        &__menu{
          justify-content: left;
        &__list{
        display: flex;
        align-items: center;
        padding: 0 2em;
        position: relative;
        left: 40px;
        &__items{
          display: none;
        }
      }
    }
  }
  #home{
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    z-index: 1;
    &__menu {
      height: 40px;
      width: 100vw;
      flex-direction: row;
      justify-content: left;
      background-color: $nav-background;
      &__list{
        display: flex;
        align-items: center;
        padding: 0 2em;
        position: relative;
        left: 40px;
      }
      &__list:hover{
        background-color: $nav-hover-background;
        transition: 0.35s;
      }
      &__icon{
        font-size: 1.8em;
      }
      &__item {
        padding-left: 8px;
        display: flex;
    }
    #sass{
      color: #C26191;
    }
    #react{
      color: #00CDF2;
      font-size: 2em;
    }
    #markdown{
      color: #4d3016;
    }
    #json{
      color: #CD0001;
    }
  }
  }

}
}