@import '../../assets/styles/variables';
@import '../../assets/styles/typography';

.navbar {
  &__menu {
    position: fixed;
    display: flex;
    &__item {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 720px) {
  .navbar {
    z-index: 99;
    &__menu {
      height: 40px;
      width: 100vw;
      flex-direction: row;
      justify-content: left;
      background-color: $nav-background;
      &__list{
        display: flex;
        align-items: center;
        padding: 0 2em;
        position: relative;
        left: 30px;
      }
      &__icon{
        font-size: 2em;
        padding-right: 8px;
      }
      &__item {

    }
    #sass{
      color: #C26191;
    }
    #react{
      color: #00CDF2;
    }
  }
  }

}
