@import "../../assets/styles/variables";
@import "../../assets/styles/_typography";

.skills {
  position: relative;
  bottom: 1em;
  overflow: hidden;
  text-align: center;
  &__header {
    display: flex;
    justify-content: center;
    align-content: center;

    text-align: center;
    color: $accent-color;
  }
  &__container {
    position: relative;
    top: 2em;
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
      margin-bottom: 0px;
      &__icon {
        font-size: 3.5rem;
        color: $font-color;
        margin-bottom: 20px;
      }
      &__desc {
        position: relative;
        bottom: 0.8em;
        font-size: 1.2rem;
      }
    }
  }
  #typescript{
    width: 5rem;
  }
}

@media screen and (min-width: 320px) {
  .skills {
    position: relative;
    top: 0em;
    height: 100vh;
    &__header {
      position: relative;
      top: 0.3em;
      left: 0.1em;
      font-size: 3.5rem;
      text-align: center;
    }
    &__container {
      position: relative;
      left: 1em;
      &__item {
        margin-bottom: 0px;
        position: relative;
        bottom: 0.5rem;
        &__icon {
          font-size: 3.5rem;
        }
      }
    }
  }
  #react-testing-library{
    &__container{
    position: relative;
    top: 1.6rem;
    }
    &__text{
      font-size: 1.19rem;
    }
  }
}

@media screen and (min-width: 520px) {
  .skills {
    position: relative;
    left: 0.6em;
    top: -1.3rem;
    height: 100vh;
    &__header {
      position: relative;
      top: 0.5em;
      left: 2rem;
      font-size: 4.3rem;
      text-align: center;
    }
    &__container{
      position: relative;
      left: 4em;
    }
  }
}

@media screen and (min-width: 800px) {
  .skills {
    padding-top: 0;
    position: relative;
    top: -2em;
    overflow: hidden;
    height: 100vh;
    &__header {
      font-size: 5.5rem;
      position: relative;
      margin-right: 0.5em;
    }
  }
  #react-testing-library{
    &__container{
    position: relative;
    top: 0rem;
    }
  }
}
