@import '../../assets/styles/variables';


.carousel__container{
  position: relative;
  top: 1em;
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $font-color;
  border: 4px solid $accent-color;
  border-radius: 1000em;

  position: relative;
  left: 0.4em;
  &__image {
    box-shadow: 0px 10px 20px rgba($body-color, 0.25);
    display: block;
    width: 50%;
    border-radius: 15px;
    margin: 0 10px;
  }

  &__arrow {
    display: block;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}

.artist-tile {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0px 10px 20px rgba(black, 0.25);

  &__img {
    width: 100%;
  }

  &__content {
    position: absolute;
    z-index: 1;
    color: $font-color;
    border-radius: 10000em;

    & > * {
      margin: 10px 0;
    }

    &--button {
      bottom: 20px;
      left: 20px;
    }

    &--text {
      height: 100%;
      padding: 0px 20px;
      top: 0;
      overflow-y: auto;
      background: rgba(black, 0.8);
      white-space: pre-line;
    }
  }

  &__cross {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  &__heading {
    margin: 20px 0;
    font-size: 25px;
  }
  // OVERLAY
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(black, 0.5);
  }
}



@media screen and (min-width: 520px) {
  .carousel__container{
    display: flex;
    justify-content: center;
  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 25rem;
    position: relative;
    bottom: 2em;

    &__image {
      box-shadow: 0px 10px 20px rgba($body-color, 0.25);
      display: block;
      width: 17rem;
      border-radius: 15px;
      margin: 0 10px;
    }
  
    &__arrow {
      display: block;
      height: 30px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }    
}
}

}