@import '../../assets/styles/variables';
@import '../../assets/styles/typography';

.footer {
  background-color: $body-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__info {
    color: $font-color;
    text-align: center;
  }
}