 .git {
    height: 45px;
    width: 45px;
    position: relative;
  }

  .li {
    height: 40px;
    width: 45px;
    position: relative;
    bottom: 2px;
    margin: 0 10px;

  }

  .cv {
    height: 39px;
    width: 43px;
    position: relative;
    bottom: 2px;
  }

