@import "./_variables.scss";

$header-font: Arial, Helvetica, sans-serif;
$body-font: "Poppins", sans-serif;

h1,
h2,
.landing__header__title,
h3,
h4,
h5,
h6,
p,
a {
  color: $font-color;
}

h1,
h2,
.landing__header__title,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

.last--name {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid $border-color;
}

.text-accent {
  color: $accent-color;
}

.text-accent--pink {
  color: $accent-pink-color;
}

@media screen and (min-width: 768px) {
  h2,
  .landing__header__title {
    font-size: 3.8rem;
  }
}
