$body-color: #282c34;
$font-color: #d8d8d8;
$accent-color: #6effbb;
$accent-pink-color: #FF6EB2;
$border-color: #d8d8d8;
$nav-background: #21252b;
$nav-hover-background: #2b3038;
$sidebar-background: #333842;
