@import '../../assets/styles/variables';
@import '../../assets/styles/_typography';

.landing {
  .landing__header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
    &__title {
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      padding: 0px;
      &__id{
        font-size: 6rem;
        padding: 0;
        font-weight: 400;
      }
    }
    &__desc {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.explore__btn {
  background-color: $body-color;
  border: none;
  padding: 7px 9px;
  text-align: center;
  &__links {
    text-decoration: none;
  }
  &__cta {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  &__arrow {
    font-size: 1.5rem;
    animation: down-repeat 0.8s infinite;
  }
}

@media screen and (min-width: 720px) {
  .landing {
    .landing__header {
      color: $font-color;
      padding-bottom: 0px;
      &__title {
        font-size: 5rem;
        &__cursor{
            
        }
        &__id{
          font-size: 10rem;
          padding: 0;
          position: relative;
          top: 0.2em;
          &__cursor{

          }
        }
      }
      &__desc {
        font-size: 2.5rem;
      }
    }
  }
  .explore {
    &__cta {
      font-size: 2rem;
    }
    &__btn {
      .fa-angle-down {
        font-size: 3rem;
      }
    }
  }
}
