@import '../../assets/styles/variables';
@import '../../assets/styles/_typography';


.landing {
  .landing__header {
    color: $font-color;
    height: 80vh;
    display: flex;
    position: relative;
    left: 0em;
    top: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
    &__title {
      font-size: 4rem;
      font-weight: 400;
      text-align: center;
      padding: 0px;
      &__id{
        color: $accent-color;
        font-size: 9.5rem;
        padding: 0;
        font-weight: 700;
        position: relative;
        top: 0.2em;
      }
    }
    &__desc {
      font-size: 1.9rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 520px) {
.landing {
  .landing__header {
    height: 80vh;
    display: flex;
    position: relative;
    left: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      font-size: 5rem;
      text-align: center;
      &__id{
        font-size: 11rem;
        position: relative;
        top: 0.2em;
      }
    }
    &__desc {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
}
@media screen and (min-width: 800px) {
  .landing {
    .landing__header {
      padding-bottom: 0px;
      &__title {
        font-size: 5rem;
        &__id{
          font-size: 13rem;
          padding: 0;
          position: relative;
        }
      }
      &__desc {
        font-size: 2.5rem;
      }
    }
  }
}
