@import "../../assets/styles/variables.scss";

@media screen and (min-width: 320px) {

.error__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 1em;
  right: 0em;

  h2 {
    color: $accent-color;
    font-size: 2.143em;
  }
  &__image {
    width: auto;
    height: 25vh;
    &__reflection {
      position: absolute;
      top: 16.5em;
      width: auto;
      height: 25vh;
      transform: rotate(0.5turn);
    }
  }
}
}

@media screen and (min-width: 520px) {
  .error__container {
    position: relative;
    bottom: 6em;
    left: 1em;
    h2{
      font-size: 2.3em;
    }
    &__image {
      width: auto;
      height: 39vh;
      position: relative;
      top: 0.9em;
      right: 0.5em;
      &__reflection {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .error__container {
    position: relative;
    bottom: 0.8em;
    left: 1em;
    h2{
      font-size: 5em;
    }
    &__image {
      width: auto;
      height: 66vh;
      position: relative;
      top: 0.9em;
      right: 0.5em;
      &__reflection {
        display: none;
      }
    }
  }
}
